TIP_MONGO_URI=mongodb://mongo:27017
TIP_MONGO_DB=threat_intelligence
TIP_ELASTIC_URL=http://elasticsearch:9200
TIP_ELASTIC_INDEX_PREFIX=tip
TIP_REQUEST_TIMEOUT_SECONDS=20
TIP_RISK_THRESHOLD=85
TIP_ALLOWLIST_CIDRS=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
TIP_OTX_API_KEY=
TIP_FIREWALL_ENABLED=false
TIP_FIREWALL_CHAIN=TIP_BLOCKLIST
TIP_ALERT_WEBHOOK_URL=
TIP_LOG_LEVEL=INFO
